.form {
  width: 50%;
  margin: 0 25% 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
}

.label {
  width: 50%;
  font-style: normal;
  padding-top: 5px;
  font-weight: normal;
  color: #000;
  margin-bottom: 0.1rem;
  
}

.button {
  width: 40%;
  max-width: 350px;
  min-width: 250px;
  height: 40px;
  border: none;
  margin: 1rem 0;
  box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in;
  
}
.button hover {
  transform: translateY(-3px);
}
.container {
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


}

.input {
border: none;
border-bottom: 1px solid;
background-color: rgba(255, 255, 128, 0);
outline: none;
}

.signinContainer {
  padding-bottom: 200px;
}
