.cont{
  margin-top: 30px;
}

.enter{
  margin-bottom: 20px;
  height: 80px;
  font-size: large;
  width: 100%;
  background: #F0F0F0;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}

.enter2{
  height: 40px;
  width: fit-content;
  background: #F0F0F0;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}

.btnText{
  
  margin-left: 15px;
  margin-right: 10px;
  color: #555555;
}

.btnIcon{
  margin-right: 5px;
}
