.editContainer{
  border-radius: 8px;
  border: #dddddd 1px solid;
  margin-top: 20px;
  padding: 15px;
}

.textStyle{
  font-style: italic;
  background-color: #ebffca;
  border-radius: 8px;
  border: none;
  padding: 0;
  width: fit-content;
  text-decoration:none;
  color: #555555;
}

.textStyle:hover{
  color: #555555;
}

.high{
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment{
  margin-top: 15px;
  font-style: italic;
}

.enter2{
  height: 25px;
  width: fit-content;
  background: #F0F0F0;
  border: 1px solid #E3E3E3;
  margin-top: 20px;
  border-radius: 8px;
  margin-right: 12px;
  font-size: smaller;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}

.btnText{
  
  margin-left: 5px;
  margin-right: 10px;
  color: #555555;
}

.line{
  border-top: #c0c0c0 solid 4px;
}
