.cardLots{
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.taskContainer{
  margin-top: 40px;
}

.cardLots img{
  margin-bottom: 20px;
  width: 100%;
}

.cardLots h3{
  font-size: 16px;
  font-weight: bolder;
  color: red;
  margin-top: 10px;
}

.cardLots p{
  margin-top: 10px;
  font-size: 14px;
  color: #555555;
}

.spanAdd{
  color: #555555;
  font-weight: 100;
}

.date{
  font-size: 8px;
}

.article{


}

.enter2{
  height: 40px;
  width: fit-content;
  background: #F0F0F0;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 10px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}

.enter3{
  height: 40px;
  width: fit-content;
  background: #F0F0F0;
  border: 1px solid #E3E3E3;
  border-radius: 8px;

  margin-right: 10px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}


.btnText{

  color: #555555;
}

.textStyle{
  font-style: italic;
  background-color: #ebffca;
  border-radius: 8px;
  border: none;
  padding: 0;
}

.textStyle2{
  font-style: normal;
}

.editContainer{
  border-radius: 8px;
  border: #dddddd 1px solid;
  margin-top: 20px;
  padding: 15px;
  transform: translateX(-150%);
  animation: ani 0.5s forwards;
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}

.editContainer p{
  font-size: small;
}

.editContainer input{
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  font-size: small;
  border: 1px solid #cfcfcf;
}

.editContainer input:focus {
	outline: none;
  border: 1px solid red;
}

.editContainer select {
  outline: none;
  border: 1px solid #cfcfcf;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.editContainerHigh{
  font-style: italic;
  width: fit-content;
  background-color: #ebffca;
  border-radius: 8px;
  border: none;
  padding: 0;
}

.btnHighCont{
  display: flex;
  justify-content: space-between;
}
