
.cardLots{
  border-radius: 6px;

  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.cardLots img{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 6px;
}

.cardLots h3{
  font-size: 16px;
  font-weight: bolder;
  color: red;
  margin-top: 10px;
}

.cardLots p{
  margin-top: 10px;
  font-size: 14px;
  color: #555555;
}

.spanAdd{
  color: #555555;
  font-weight: 100;
}

.date{
  font-size: 8px;
}
