.headerContainer {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





.logoText{
  color: #555555;
  font-weight: bold;
  text-decoration: none;
}

.logoText img{
  height: 40px;
}

.logoText:hover{
  color: inherit;
  opacity: 50%;
  text-decoration: none;
}



.enter{
  height: 38px;

  width: fit-content;
  background: #F0F0F0;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}

.enter2{
  height: 40px;
  width: fit-content;
  background: #F0F0F0;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}

.btnText{
  
  margin-left: 5px;
  margin-right: 10px;
  color: #555555;
}

.btnIcon{
  margin-right: 5px;
}
