.headerContainer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  /* position: relative; */
}

.logoGroup{
  display: flex;
}

.logo1{
  position: relative;
  left: -8px;
  width: 120px;
}

.logo2{
  margin-left: 10px;
  margin-top: 19px;
}

.logoText{
  color: #555555;
  font-weight: bold;
  font-size: 43px;
  text-decoration: none;
}

.logoText:hover{
  color: inherit;
  opacity: 50%;
  text-decoration: none;
}

.logoSub{
  color: #555555;
  font-size: 16px;
  margin-top: -5px
}

.search{
  border-radius: 8px;
  margin-top: 30px;
  width: 400px;
  height: 60px;
  background-color: #F0F0F0;
}

.search1{
  margin-top: 15px;
  margin-left: 20px;
}


.search2{
  position: absolute;
  margin-left: 10px;
  margin-top: 17px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #F0F0F0;
  outline:none;
}

.extra{
  margin-top: 30px;
  width: 160px;
}

.enter{
  margin-top: 30px;
  height: 60px;
  width: 220px;
  background: linear-gradient(94.97deg, #04CE9B 0%, #64E408 100%);
  border-radius: 8px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.btnText{
  margin-left: 5px;
  margin-right: 10px;
  color: white;
}

.btnIcon{
  margin-right: 5px;
}

.enter4{
  margin-top: 30px;
  height: 60px;
  width: 220px;
  border: solid 1px #64E408;
  border-radius: 8px;
  background-color: white;
}

.btnText4{
  margin-left: 5px;
  margin-right: 10px;
  color: #64E408;
}
