.mainContainer {
  padding: 25px;
  border-radius: 24px;
  margin-bottom: 40px;
}

.userContainer{
  display: flex;
}

.avatar{
  width: 100px;
  height: 100px;
  margin-right: 40px;
  margin-left: 20px;
}

textarea {
  border-radius: 5px;
  padding: 20px;
  height: 150px;
  width: 1580px;
  font-size: 20px;
  border: none;
  background-color: rgb(231, 231, 231);
  resize: none;
  box-sizing: border-box;
}

.btnText{
  margin-left: 5px;
  margin-right: 10px;
  color: white;
}

.join2{
  margin-top: 20px;
  height: 60px;
  width: 250px;
  background: linear-gradient(94.97deg, #04CE9B 0%, #64E408 100%);
  border-radius: 8px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}




/*STAR*/


/* use reverse flexbox to take advantage of flex-direction: reverse */
.starRating {
  display: flex;
  align-items: center;
  width: 120px;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}
/* hide the inputs */
.starRating input {
  display: none;
}
/* set properties of all labels */
.starRating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: rgb(0, 0, 0);
}
/* give label a hover state */
.starRating label:hover {
  color: #00ff22;
  transition: 0.2s ease;
}
.starRating label:active::before {
  transform:scale(1.1);
}

/* set shape of unselected label */
.starRating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.starRating input:checked ~ label:before {
  content:'\2605';
}

@-moz-document url-prefix() {
  .starRating input:checked ~ label:before {
  font-size: 36px;
  line-height: 21px;
  }
}  

.containerbutton{
  display: flex;
  
}
